<script type="text/javascript" src="/deck.core.js"></script>
<script type="text/javascript" src="/deck.status.js"></script>
<link rel="stylesheet" href="/deck.core.css"></script>
<link rel="stylesheet" href="/swiss.css"></script>

<article id="deck" class="deck-container" style="margin-top: 40px">
  <section class="slide">
    <h1 class="slide">How to win at interfaces</h1>
  </section>
</article>

<script type="text/javascript">
  $.deck('.slide', {});
</script>

