<html>
  <head>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/modernizr.js"></script>

    <title>Knockout.JS-CRB/CJS</title>
  </head>

  <body>
    <header class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <a href="#" class="brand">Knockout.JS-CRB/CJS</a>
          <ul class="nav">
            <li <% if request.path == '/' %>class="active"<% end %>>
              <a href="/">Demo</a>
            </li>
            <li <% if request.path == '/deck' %>class="active"<% end %>>
              <a href="/deck">Deck</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
