<html>
  <head>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="/ko.js"></script>
    <script type="text/javascript" src="/ko.mapping.js"></script>

    <script type="text/javascript" src="/coffeescripts/google_maps_binding"></script>
    <script type="text/javascript" src="/coffeescripts/application"></script>
    <title>Knockout.JS - CRB Columbus</title>
  </head>

  <body>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <a href="#" class="brand">Knockout.JS- CRB Columbus</a>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
